<p class="logo">ACME Works, Inc.</p>

<fluent-button-wrapper class="signout" appearance="outline" (click)="signout()">Sign Out</fluent-button-wrapper>

<div class="actions">
  <div class="rw-card brand-left call-derrick">
    <img
      src="https://media.licdn.com/dms/image/v2/D4E03AQH90mAq58-unw/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1680117436947?e=2147483647&v=beta&t=-DDA0PuL0cHkm2_2fEsQby1VBmhML7zTG_7S39lROy0"
    />
    <fluent-button-wrapper appearance="primary">Call Derrick</fluent-button-wrapper>
  </div>
  <div class="rw-card brand-left" (click)="hello()">Hello World</div>
  <div class="rw-card brand-left call-help">
    <fluent-button-wrapper appearance="primary" (click)="startHelp()">Call For Help</fluent-button-wrapper>
  </div>
</div>

<div class="rw-card brand-left meeting">
  <div class="inner">
    <span>Engineering Virtual Meeting Room</span>
    <fluent-button-wrapper appearance="primary">Join Meeting</fluent-button-wrapper>
  </div>
</div>
