:host {
  display: grid;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.microsoft-logo {
  aspect-ratio: 4.7/1;
  width: 160px;
}

.rw-card {

  display: flex;
  flex-direction: column;
  padding: 24px 12px;
  align-items: center;

  &.left {
    justify-content: space-between;
  }

  .explanation {
    text-align: center;
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  width: 600px;

  height: 240px;
}